    /* start varible */
    :root {
        --main-color: #19c8fa;
        --main-transition: 0.5s;
        --transparent-color: rgb(15 116 143 / 50%);
        --section-padding: 100px;
    }
    /* end varible */

    /* start glubal rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -moz-transition: 0.3s ease-out 0s;
    -ms-transition: 0.3s ease-out 0s;
    -o-transition: 0.3s ease-out 0s;
    transition: 0.3s ease-out 0s;
}
html {
    scroll-behavior: smooth;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-transform: capitalize;
}
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
}
/* @media (max-width: 767px) {
    .container {
        width: 500px;
    }
}  */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}
    /* end glubal rules */
    /* start header */
header {
    position: absolute;
    left: 0;
    width: 100%;
    z-index: 2;
    background-position: fixed;
}   
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    min-height: 74px;
} 
header .container::after {
    content: '';
    position: absolute;
    height: 1px;
    bottom: 1px;
    left: 20px;
    width: calc(100% - 40px);
    background-color: #d2d2d2;
}
header .container .logo img {
    height: 30px;
}
header .container nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .container nav ul {
    display: flex;
    transition: 0.3;
}
@media (max-width: 767px) {
    header .container nav ul{
        display: none;
    }
    header .container nav .menu:hover + ul {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
    }
    header .container nav ul li a {
        display: block;
    }
}
header .container nav ul li {
    list-style-type: none;
}
header .container nav ul li a {
    /* display: block; */
    text-decoration: none;
    color: white;
    font-size: 20px;
    padding: 21px 15px;
    transition: 0.3s;
    position: relative;
    z-index: 2;
}
header .container nav ul li a:hover,
header .container nav ul li a.active {
    color: var(--main-color);
    border-bottom: 1px solid var(--main-color);
}
header .container nav .search {
    color: white;
    position: absolute;
    right: -40px;
    transform: translatex(-50%);
    cursor: pointer;
}
header .container nav .search:hover {
    color: var(--main-color);
}
@media (max-width: 768px) {
    header .container nav .search {
        display: none;
    }
}
header .container nav .menu {
    color: white;
    font-size: 22px;
}
@media (min-width: 768px) {
    header .container nav .menu {
        display: none;
    }
}
    /* end header */
    /* Start landing */
.landing {
    min-height: 100vh;
    background-image: url('../image/img-cover.jpg');
    background-size: cover;
    position: relative;
}
.landing .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0 / 70%);
}
.landing .text-lan{
    position: absolute;
    color: white;
    left: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 50%;
    padding: 50px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-end;
}
.landing .text-lan .content {
    max-width: 400px;
}
@media (max-width: 767px) {
    .landing .text-lan {
        width: 100%;
    }
    .landing .text-lan .content {
        max-width: 100%;
    }
}
.landing .text-lan .content h2 {
    line-height: 38.3px;
    text-transform: capitalize;
    font-weight: normal;
}
.landing .text-lan .content p{
    line-height: 1.6;
    font-size: 10px;
}
.landing .change-background-left, 
.landing .change-background-right{
    position: absolute;
    top: 50%;
    transform: rotateY(-50%);
    color: white;
    font-size: 30px;
    cursor: pointer;
}
.landing .change-background-left {
    left: 30px;
}
.landing .change-background-right {
    right: 30px;
}
@media (max-width: 767px) {
    .landing .change-background-left, 
    .landing .change-background-right {
    display: none;
    }
}
.landing .bullets {    
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    list-style-type: none;
}
.landing .bullets li { 
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    margin-right: 10px;   
}
.landing .bullets li.active {    
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.main-heading {
    padding: 50px;
    text-align: center;
}
.main-heading h2 {
    text-transform: uppercase;
    font-weight: normal;
    letter-spacing: 2px;
    padding-bottom: 10px;
    position: relative;
    margin: 0 auto 40px;
}
.main-heading h2:before {
    content: '';
    position: absolute;
    width: 80px;
    height: 2px;
    background-color: #333;
    left: 50%;
    bottom: -15px;
    transform: translateX(-50%);
}
.main-heading h2:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    border: 1px solid #333;
    width: 14px;
    height: 14px;
    background-color: white;
    left: 50%;
    bottom: -21px;
    transform: translateX(-50%);
}
.main-heading p {
    width: 550px;
    margin: 0 auto 50px;
    max-width: 100%;
    line-height: 2;
    color: #777;
}
    /* End landing */
    /* start services */
.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
@media (min-width: 768px) {
    .services  .services-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
        column-gap: 50px;
        row-gap: 30px;
    }
}
.services .srv-box {
    display: flex;
}
.services .srv-box i {
    margin-right: 39px;
}
.services .srv-box .text h2 {
    color: var(--main-color);
    margin-bottom: 10px;
}
.services .srv-box .text p {
    color: #777;
    line-height: 1.3;
}
@media (max-width: 767px) {
    .services  .services-container {
        display: flex;
        flex-direction: column;
    }
}
   /* end services */
   /* start Design  */
.design {
    min-height: 100vh;
    background-image: url('../image/img-cover-2.jpg');
    background-size: cover;
    position: relative;
}
.design .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0 / 70%);
}
.design .text-des{
    position: absolute;
    color: white;
    right: 0;
    top: 50%;
    transform: translatey(-50%);
    width: 50%;
    padding: 40px;
    background-color: var(--transparent-color);
    display: flex;
    justify-content: flex-start;
}
.design .text-des .content {
    max-width: 400px;
}
@media (max-width: 767px) {
    .design .text-des {
        width: 100%;
    }
    .design .text-des .content {
        max-width: 100%;
    }
}
.design .text-des .content h2 {
    text-transform: capitalize;
    font-weight: normal;
    margin-bottom: 40px;
}
.design .text-des .content .lan {
    display: flex;
    margin-bottom: 20px;

}
.design .text-des .content .lan i {
    margin-right: 20px;
}
.design .black {
    position: absolute;
    left: 15%;
    bottom: 0px;
    width: 200px;
    animation: black 2s linear alternate }
.design .white {
    position: absolute;
    left: 25%;
    bottom: 0px;
    width: 170px;
    animation: white 3s linear alternate;
} 
@keyframes black {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
      }
    
      100% {
        opacity: 1;
        transform: translateX(0);
      }
}
@keyframes white {
    0% {
        opacity: 0;
        transform: translateX(-2000px);
      }
    
      100% {
        opacity: 1;
        transform: translateX(0);
      }
}
@media (max-width: 767px) {
    .design .white {
        width: 100px;
        animation: white 3s linear alternate infinite;
    }
    .design .black {
        width: 100px;
        animation: black 2s linear alternate-reverse infinite;
    }
    @keyframes white {
        0% {
            left: 0;
        }
        100% {
            left: 50%;
        }
    }
    @keyframes black {
        0% {
            left: 0;
        }
        100% {
            left: 50%;
        }
    }
}
   /* end Design  */
   /* start portfolio */
.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.portfolio .container .ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 10px;
    cursor: pointer;
}
.portfolio .container .ul li {
    padding: 10px 20px;
}
.portfolio .container .ul .active {
    color: white;
    background-color: var(--main-color);
}
.portfolio .container .ul li:hover {
    color: white;
    background-color: var(--main-color); 
}
.portfolio .images {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
}
.portfolio .images .box {
    position: relative;
    overflow: hidden;
}

@media (max-width: 767px) {
    .portfolio .images .box {
        flex-basis: 100%;
    }
}

@media (min-width: 768px) {
    .portfolio .images .box {
        flex-basis: 50%;
    }
}

@media (min-width: 1199px) {
    .portfolio .images .box {
        flex-basis: 25%;
    }
}

.portfolio .images .box img {
    max-width: 100%;
}

.portfolio .images .box:hover img {
    transform: rotate(3deg) scale(1.1);
}

.portfolio .images .box:hover .caption h4 {
    font-weight: bold;
    margin-bottom: 10px;
}

.portfolio .images .box .caption p {
    color: var(--main-color);
}

.portfolio .images .box .caption {
    position: absolute;
    width: 100%;
    left: 0;
    padding: 20px;
    bottom: -101px;
    background-color: white;
}

.portfolio .images .box:hover .caption {
    bottom: 0;
}

.portfolio .more {
    background-color: var(--main-color);
    color: white;
    padding: 15px 20px;
    display: block;
    width: fit-content;
    text-decoration: none;
    margin: 20px auto;
    text-transform: uppercase;
}
   /* end portfolio */
   /* start video */
.video {
    position: relative;
} 

.video:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0 / 70%);
} 

.video video {
    width: 100%;
}

.video .text {
    position: absolute;
    top: 50%;
    text-align: center;
    color: white;
    background-color: var(--transparent-color);
    width: 100%;
    padding: 50px;
    transform: translateY(-50%);
}

.video .text h2 {
    margin: 10px;
    font-weight: normal;
}

.video .text p {
    margin-bottom: 10px;
}

.video .text button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    text-transform: uppercase;
    border-radius: 10px;
}

@media (max-width: 767px) {
    .video .text h2 {
        font-size: 19px;
    }
}
   /* end video */

   /* start about */

#about {
    padding-top: var(--section-padding);
    overflow: hidden;
   }

#about .img {
    display: flex;
    justify-content: center;
   }

#about .img img {
    max-width: 100%;
   }

   /* end about */
   /* start stats */
.stats {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    position: relative;
    background-image: url('../image/img-cover-2.jpg');
    background-size: cover;
    text-align: center;
}

.stats:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb( 0 0 0 / 70%);
} 

.stats .container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.stats .container .box {
    color: white;
    padding: 50px;
    background-color: var(--transparent-color);
}

@media (max-width: 767px) {
    .stats .container .box {
        flex-basis: 100%;
    }
}
@media (min-width: 768px) {
    .stats .container .box {
        flex-basis: 50%;
    }
}
@media (min-width: 991px) {
    .stats .container .box {
        flex-basis: 25%;
    }
}

.stats .container .box i {
    font-size: 20px;
    margin: auto;
    background-color: black;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stats .container .box .number {
    margin: 25px;
    font-size: 40px;
    font-weight: bold;
}

.stats .container .box p {
    font-size: 13px;
    margin: 10px;
}
   /* end stats */
   /* start skills */
.our-skills {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.our-skills .container {
    display: flex;
    justify-content: space-around;
}

.our-skills .container > div {
    text-align: center;
    flex-basis: 45%;
}

.our-skills .container > div > h3  {
    text-transform: uppercase;
    margin-bottom: 30px;
    color: #1f2021;
    font-weight: normal;
}

.our-skills .container > div > p  {
    color: #777;
    line-height: 2;
    margin-bottom: 50px;
}

.our-skills .container .testimonials > div {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
}

.our-skills .container .testimonials > div > img {
    width: 100px;
    border-radius: 50%;
    margin: 0 50px 30px 0;
}

.our-skills .container .testimonials > div .text {
    text-align: left;
}

.our-skills .container .testimonials > div p {
    color: #777;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid;
}
.our-skills .bullets {    
    display: flex;
    list-style-type: none;
    justify-content: center;
}
.our-skills .bullets li { 
    width: 20px;
    height: 20px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;   
}
.our-skills .bullets li.active,
.our-skills .bullets li:hover {    
    background-color: var(--main-color);
    border-color: var(--main-color);
}

.our-skills .skills .prog-holder {
    margin-bottom: 50px;
    display: flex;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.our-skills .skills .prog-holder h4{
    font-weight: normal;
    letter-spacing: 2px;
    margin-bottom: 5px;
}

.our-skills .skills .prog-holder .prog{
    width: 100%;
    height: 25px;
    background-color: gray;
}

.our-skills .skills .prog-holder span{
    height: 100%;
    display: block;
    background-color: var(--main-color);
    position: relative;
}

.our-skills .skills .prog-holder span::before{
    content: '';
    position: absolute;
    right: -8px;
    top: -7px;
    width: 0;
    height: 0;
    background-color: transparent;
    border: solid 8px;
    border-color: black transparent transparent;
}

.our-skills .skills .prog-holder span::after{
    content: attr(data-progres);
    position: absolute;
    color: white;
    right: -21px;
    top: -35px;
    padding: 5px 0;
    width: 40px;
    border-radius: 5px;
    background-color: black;
}

@media (max-width: 991px) {
    .our-skills .container {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .testimonials {
        margin-bottom: 30px;
    }
}
   /* end skills */